<div class="container-search">
    <div class="actions">
        <input class="input-search" type="text" placeholder="Search" (keydown.enter)="search($event)">
        <button class="button primary-button add" (click)="addProduct()">Agregar</button>
    </div>
    <div class="container-table">
        <table class="table-products">
            <tr>
                <th>Logo</th>
                <th>Nombre del producto</th>
                <th>Descripción</th>
                <th>Fecha de liberación</th>
                <th>Fecha de reestructuración</th>
                <th></th>
            </tr>
            <tr *ngFor="let product of paginatedItems; let i = index">
                <td><img [src]="product.logo"></td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_release}}</td>
                <td>{{product.date_revision}}</td>
                <td>
                    <div class="dropdown">
                        <button class="dropdown-toggle" (click)="toggleDropdown(i)">
                            &#x22EE;
                        </button>
                        <div class="dropdown-menu" *ngIf="isDropdownOpen == i">
                            <a (click)="showConfirmModal(product.id)">Eliminar</a>
                            <a (click)="edit(product.id)">Editar</a>
                          </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="pagination">
            <p>{{paginatedItems.length}} Resultados</p>
            <button [disabled]="currentPage === 1" class="button secondary-button"
                (click)="goToPage(currentPage - 1)">Anterior</button>
            <span>Página {{ currentPage }} de {{ totalPages }}</span>
            <button [disabled]="currentPage === totalPages" class="button secondary-button"
                (click)="goToPage(currentPage + 1)">Siguiente</button>
        </div>
    </div>
</div>

<app-modal #modal [title]="titleModal" [showConfirm]="showConfirm" [message]="message" [buttonMessage]="buttonMessage" [buttonMessageTwo]="buttonMessageTwo" (actionButton)="delete()"></app-modal>