
    <div class="title">
        <h1>BANCO</h1>
    </div>
    <div class="container-search">
        <input type="string" placeholder="Search">
        <div class="container-table">
            <table class="table-products">
                <tr>
                    <th>Logo</th>
                    <th>Nombre del producto</th>
                    <th>Descripción</th>
                    <th>Fecha de liberación</th>
                    <th>Fecha de reestructuración</th>
                </tr>
                <tr>
                    <td>loguito</td>
                    <td>loguito</td>
                    <td>loguito</td>
                    <td>loguito</td>
                    <td>loguito</td>

                </tr>
        
        
            </table>

            <div class="pagination">
                <p>Resultados</p>
                <select>
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                </select>
            </div>
        </div>

    </div>

