.container-form{
    background-color: white;
    padding: 2em;
}
.form-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.group-button {
    display: flex;
    justify-content: center;
}
.container-input {
    margin-bottom: 15px;
    flex: 1 1 45%;
}

label, span {
    display: block;
    margin-bottom: 5px;
}
span.invalid-input {
    color: var(--danger);
}