<div class="container-form">
    <h1>Formulario de registro</h1>
        <form [formGroup]="formGroup">
            <div class="form-group">
                <div class="container-input">
                    <label for="id">ID</label>
                    <input type="text" id="id" formControlName="id">
                    <span  class="invalid-input"  *ngIf="formGroup.get('id')?.hasError('required')">Este campo es requerido</span>
                    <span  class="invalid-input"  *ngIf="formGroup.get('id')?.hasError('minlength')">Debe tener al menos 3 caracteres</span>
                    <span  class="invalid-input"  *ngIf="formGroup.get('id')?.hasError('maxlength')">No puede tener más de 10 caracteres</span>
                </div>
                <div class="container-input">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" formControlName="name">
                    <span  class="invalid-input"  *ngIf="formGroup.get('name')?.hasError('required')">Este campo es requerido</span>
                    <span  class="invalid-input"  *ngIf="formGroup.get('name')?.hasError('minlength')">Debe tener al menos 5 caracteres</span>
                    <span  class="invalid-input"  *ngIf="formGroup.get('name')?.hasError('maxlength')">No puede tener más de 100 caracteres</span>
                </div>
            </div>
            <div class="form-group">
                <div class="container-input">
                    <label for="description">Descripción</label>
                    <input type="text" id="descripcion" formControlName="description">
                    <span  class="invalid-input"  *ngIf="formGroup.get('description')?.hasError('required')">Este campo es requerido</span>
                    <span  class="invalid-input"  *ngIf="formGroup.get('description')?.hasError('minlength')">Debe tener al menos 10 caracteres</span>
                    <span  class="invalid-input"  *ngIf="formGroup.get('description')?.hasError('maxlength')">No puede tener más de 200 caracteres</span>
                </div>
                <div class="container-input">
                    <label for="logo">Logo</label>
                    <input type="text" id="logo" formControlName="logo">
                    <span  class="invalid-input"  *ngIf="formGroup.get('logo')?.hasError('required')">Este campo es requerido</span>

                </div>
            </div>
            <div class="form-group">
                <div class="container-input">
                    <label for="fechaliberacion">Fecha liberación</label>
                    <input type="text" id="fechaliberacion" formControlName="date_release">
                    <span  class="invalid-input"  *ngIf="formGroup.get('date_release')?.hasError('required')">Este campo es requerido</span>
                </div>
                <div class="container-input">
                    <label for="fecharevision">Fecha revisión</label>
                    <input type="text" id="fecharevision" formControlName="date_revision">
                    <span  class="invalid-input"  *ngIf="formGroup.get('date_revision')?.hasError('required')">Este campo es requerido</span>
                </div>
            </div>

            <div class="group-button">
                <button class="button secondary-button">
                    Reiniciar
                </button>
                <button class="button primary-button" (click)="addProduct()" [disabled]="formGroup.invalid">
                    Enviar
                </button>
            </div>
        </form>

</div>            