<button class="secondary-button button" routerLink="/products">Atrás</button>
<div class="container-form">
    <h1>Formulario de registro</h1>
    <div class="line"></div>
        <form [formGroup]="formGroup">
            <div class="form-group">
                <div class="container-input">
                    <label for="id">ID</label>
                    <input type="text" id="id" formControlName="id">
                    <span  class="invalid-input"  *ngIf="isRequired('id')">Este campo es requerido</span>
                    <span  class="invalid-input"  *ngIf="hasErrorMinLength('id')">Debe tener al menos 3 caracteres</span>
                    <span  class="invalid-input"  *ngIf="hasErrorMaxLength('id')">No puede tener más de 10 caracteres</span>
                </div>
                <div class="container-input">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" formControlName="name">
                    <span  class="invalid-input"  *ngIf="isRequired('name')">Este campo es requerido</span>
                    <span  class="invalid-input"  *ngIf="hasErrorMinLength('name')">Debe tener al menos 5 caracteres</span>
                    <span  class="invalid-input"  *ngIf="hasErrorMaxLength('name')">No puede tener más de 100 caracteres</span>
                </div>
            </div>
            <div class="form-group">
                <div class="container-input">
                    <label for="description">Descripción</label>
                    <input type="text" id="descripcion" formControlName="description">
                    <span  class="invalid-input"  *ngIf="isRequired('description')">Este campo es requerido</span>
                    <span  class="invalid-input"  *ngIf="hasErrorMinLength('description')">Debe tener al menos 10 caracteres</span>
                    <span  class="invalid-input"  *ngIf="hasErrorMaxLength('description')">No puede tener más de 200 caracteres</span>
                </div>
                <div class="container-input">
                    <label for="logo">Logo</label>
                    <input type="text" id="logo" formControlName="logo">
                    <span  class="invalid-input"  *ngIf="isRequired('logo')">Este campo es requerido</span>

                </div>
            </div>
            <div class="form-group">
                <div class="container-input">
                    <label for="fechaliberacion">Fecha liberación</label>
                    <input type="date" id="fechaliberacion" formControlName="date_release">
                    <span  class="invalid-input"  *ngIf="isRequired('date_release')">Este campo es requerido</span>
                    <span  [class.invalid-input]="formGroup.get('date_revision')?.touched"  *ngIf="isValidDate('date_release')">La fecha debe ser superior a la fecha actual</span>
                </div>
                <div class="container-input">
                    <label for="fecharevision">Fecha revisión</label>
                    <input type="date" id="fecharevision" formControlName="date_revision">
                    <span  class="invalid-input"  *ngIf="isRequired('date_revision')">Este campo es requerido</span>
                    <span  [class.invalid-input]="formGroup.get('date_revision')?.touched"  *ngIf="isValidDate('date_revision')">La fecha debe ser superior a la fecha actual</span>
                </div>
            </div>

            <div class="group-button">
                <button class="button secondary-button" (click)="initForm()">
                    Reiniciar
                </button>
                <button class="button primary-button" (click)="isEdit ? updateProduct() : addProduct()" [disabled]="formGroup.invalid">
                    Enviar
                </button>
            </div>
        </form>

</div>            
<app-modal #modal [title]="titleModal" [showConfirm]="showConfirm" [message]="message" [buttonMessage]="buttonMessage" [buttonMessageTwo]="buttonMessageTwo"></app-modal>