/* You can add global styles to this file, and also import other style files */
:root {
    --white-gray: #e3e1e1;
    --second-gray: #eae7e7;
    --border-color: #727171;
    --text: #585656;
    --primary-button: #eeea05;
    --danger: #de4242;
    --title: #02024f;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h1{
    text-align: center;
    color: var(--title);
}
input, input.ng-untouched.ng-pristine.ng-invalid, input[type="date"] {
    height: 30px;
    width: 70%;
    border-radius: 5px;
    border-style: double;
    border-color: var(--border-color);
}

input.ng-invalid {
   border-color: var(--danger);
   font-size: 0.875rem;
}

.container-search {
    background-color: #e3e1e1;
    padding: 2em;
    height: 100vh;
}
.button {
    border-radius: 5px;
    font-weight: 600;
    height: 30px;
    margin: 30px;
    cursor: pointer;
    width: 8em;
}
.button:disabled {
    color: var(--text);
    cursor: no-drop;
}
.primary-button {
    background-color: var(--primary-button);
    border: var(--primary-button);
}
.secondary-button {
    background-color: var(--white-gray);
    border: var(--white-gray);
    color: var(--title);
}